<section class="about">
    <img src="../../../assets/images/pets-group.png" alt="grupo de pets" class="about__img">
    <div class="about__content">
        <h2 class="about__content--title">Sobre nós</h2>
        <h3 class="about__content--subtitle">Amor e Cuidado</h3>
        <p class="about__content--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in</p>
        <p class="about__content--text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat:</p>
        <a href="#"  class="about__content--button">Saiba mais <ng-icon name="matArrowRightAlt"></ng-icon></a>
    </div>
</section>