<section class="about">
    <img src="../../../assets/images/pets-group.png" alt="grupo de pets" class="about__img">
    <div class="about__content">
        <h2 class="about__content--title">Sobre nós</h2>
        <h3 class="about__content--subtitle">Amor e Cuidado</h3>
        <p class="about__content--text">Nossa história começou com a paixão por animais e o desejo de oferecer um espaço onde eles possam receber o melhor cuidado possível. Com uma equipe especializada e um ambiente acolhedor, trabalhamos todos os dias para garantir que seu bichinho tenha uma experiência única e especial.</p>
        <p class="about__content--text">Aqui, cada patinha que entra pela nossa porta recebe atenção especial, porque sabemos que seu pet é único e merece o melhor!</p>
        <a href="#"  class="about__content--button">Saiba mais <ng-icon name="matArrowRightAlt"></ng-icon></a>
    </div>
</section>