<footer class="footer">
    <div class="footer__content">
        <h2>Logotipo</h2>
        <div class="footer__content--blocks">
            <h2>Entre em contato</h2>
            <address>Rua Pineiro da Cunha, 303</address>
            <address>Tijuca - Rio de Janeiro</address>
            <span>Tel: (21) 97720-1714</span>
        </div>

        <div class="footer__content--blocks">
            <h2>Horário de Funcionamento</h2>
            <span>Segunda - Sexta</span>
            <span>09:00h - 18:00h</span>
            <span>Sábado e Domingo - Fechado</span>
        </div>

        <div class="footer__content--blocks">
            <h2>Newsletter</h2>
            <form>
                <div>
                    <label for="nome">Nome e Sobrenome</label>
                    <input type="text" id="nome" placeholder="Digite seu nome" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" placeholder="seuemail@gmail.com" required>
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <div class="footer__bottom">
        <span>Todos os direitos reservados &copy; 2025</span>
    </div>
</footer>