<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">O melhor para o seu pet <strong>está aqui!</strong></h2>
        <h3 class="banner__content--subtitle">Lorem ipsum maecenas porttitor at tincidunt elit euismod, placerat duis hend vel consequat sociosqu, id neque faucibus donec.</h3>
        <a href="" class="banner__content--button">Saiba mais <ng-icon name="matArrowRightAlt"></ng-icon></a>
    </div>
    <img src="../../../assets/images/cat-dog1.png" alt="teste" class="banner__img">
</section>