<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">O melhor para o seu pet <strong>está aqui!</strong></h2>
        <h3 class="banner__content--subtitle">O lugar onde seu pet recebe todo o carinho e cuidado que merece! Aqui, oferecemos produtos de alta qualidade, serviços especializados e um atendimento feito por quem realmente ama os animais.</h3>
        <a href="" class="banner__content--button">Saiba mais <ng-icon name="matArrowRightAlt"></ng-icon></a>
    </div>
    <img src="../../../assets/images/cat-dog1.png" alt="teste" class="banner__img">
</section>