<section class="feedback">
    <h2 class="feedback__title">Testemunho</h2>

    <div class="feedback__cards">
        @for(card of feedbacks; track $index) {
            <div class="feedback__cards--card">
                <div class="feedback__cards--card__head">
                    <div class="feedback__cards--card__head--cite"><ng-icon name="matMarkUnreadChatAlt" /></div>
                    <div class="feedback__cards--card__head--star">
                        @for(item of [].constructor(card.lengthStars); track $index){
                            <div><ng-icon name="matStar" /></div>
                        }
                    </div>
                </div>

                <p>{{ card.text }}</p>

                <strong class="feedback__cards--card__name">{{ card.name }}</strong>
            </div>
        }
    </div>
</section>
