$font-fredoka: "Fredoka", serif;
$font-montserrat: "Montserrat", serif;

$black-default: #000;
$white-default: #fff;
$primary-color: #00AEEF;
$secundary-color: #E23076;
$accent-color: #F04D23; 
$gray-text: #3F3F3F;
$bg-light: #E7F0f7;